.App {
  text-align: center;
  min-height: calc(100vh - 60px);
  background-color: #f2f2f7;
  padding: 1rem;
}

.App-logo {
  max-width: 180px;
  pointer-events: none;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #1f2f36;
}




table {
  text-align: left;
}

:root {
  --bg-grey: #f2f2f2;
  --bs-primary: #0078c8;
}

thead {
  background: var(--bg-grey);
}

.btn-primary {
  --bs-btn-bg: var(--bs-primary);
  --bs-btn-border-color: var(--bs-primary);
  --bs-btn-hover-bg: #035f84;
}

.btn-clear {
  border: 1px solid #747474;
}
.App-link {
  color: var(--bs-primary);
}

.quantity-wrapper {
  display: flex;
  align-items: center;
  grid-gap: 0.75rem;
}

.arrow-img-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  column-gap: 14px;
}

img {
  cursor: pointer;
}

.addItem {
  display: grid;
  grid-template-columns: 60% 35%;
  column-gap: 5%;
  margin-bottom: 1rem;
}

.form-label {
  margin-bottom: unset;
}

.action-btns {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.toggle-wrapper {
  display: flex;
}
